head{
	padding: 10px;
}
* {
	box-sizing: content-box;
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f8f9fa;
	padding: 5px;
}
@font-face
{
	font-family: BunchBlossoms;
	src: url("BunchBlossoms.ttf");
}
@font-face
{
	font-family: sept;
	src: url("sept.ttf");
}
button{
	 background-color: ;
     border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	background-color: #4CAF50;
	color: white;
	padding: 3%;
	margin-top: 3%;
	border-radius: 8px;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: px 16px;
}
li a:hover {
  color: white;
}
li {
  display: inline;
  color: #000000;
  margin: 10px;
}

 
#lala > p{
	color: #152440;
	font-family: sept;	
	font-size: 200%;
	line-height: 100%;		
}
#des{
	color:#fc9e5b; 
}
#ill{
	color: #ffe169;
}


	.wrapper > div{
		padding:1em;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 1fr 3fr 3fr 1fr;
		grid-gap:0.5em;
		grid-auto-rows: minmax(0px,auto);

	}
	
	.box2{
		grid-row:2/4;
	}
	.wrapper > div.box3{
		padding: 0em;
		grid-row:2/4; 
	}
	.wrapper > div.box4{
		align-items: center;
		grid-row:2/4; 
		
	}
	.box5{
		grid-row:2/4;
	}
	
	#aboutimg{
		width: 300px;
		height:300px;
		align-items: center;
		float: right;
		background-image: url("image.jpg");
		background-size: 300px 300px; 
	}




@media (min-width: 992px){
.p1{
	padding-top: 50px;
	font-size: 55px;
	font-family: BunchBlossoms;
	text-align: center;
	line-height: 45px;
}

.p2{
	font-size: 25px;
	padding-left: 60%;
	font-family: 'Balsamiq Sans', cursive;
}

i{
	color: #ffffff00;
}
#lala{
	display: block;
    align-content: center;	
}
ul{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  line-height: 25px;				
  background-color: #f8f9fa;
  text-align: center;
}
img{
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #e2e4e5;
	box-sizing: border-box;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	background-color: #d6d6d6;
	padding:30px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .25);
	column-count: 3;
}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

 .p1{
	padding-top: 40px;
	font-size: 50px;
	font-family: BunchBlossoms;
	text-align: center;
	line-height: 45px;
}

.p2{
	font-size: 23px;
	padding-left: 58%;
	font-family: 'Balsamiq Sans', cursive;
}

.navbar-nav{
	size: 50%;
}

i{
	color: #ffffff00;
}
img{
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #e2e4e5;
	box-sizing: border-box;
}

.container{
	max-width: 1150px;
	margin: 0 auto;
	background-color: #d6d6d6;
	padding:30px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .25);
	column-count: 2;
}
#lala{
	display: block;
    align-content: center;	
}
ul{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  line-height: 25px;				
  background-color: #f8f9fa;
  text-align: center;
}
}
/********** Small devices only **********/
@media (max-width: 767px) {
.p1{
	padding-top: 20px;
	font-size: 30px;
	font-family: BunchBlossoms;
	text-align: center;
	line-height: 25px;
}

.p2{
	font-size: 13px;
	padding-left: 58%;
	font-family: 'Balsamiq Sans', cursive;
}


.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: black;
}
i{
	color: black;
}
#aboutimg{
		width: 100px;
		height:165px;
		align-items: center;
		float: right;
		background-image: url("imgmob.jpg");
		background-size: 100px 165px;
	}
#lala > p{
	color: #152440;
	font-family: sept;	
	font-size: 50%;
}
button{
	 background-color: ;
     border: none;
    text-align: center;
  text-decoration: none;
    display: inline-block;
	background-color: #4CAF50;
	color: white;
	padding: 2px;
	font-size: 5px;
	margin-top: 3%;
	border-radius: 8px;
}
#lala{
	display: block;
}
img{
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #e2e4e5;
	box-sizing: border-box;
}

.container{
	max-width: 1150px;
	margin: 0 auto;
	background-color: #d6d6d6;
	padding:30px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .25);
	column-count: 1;
}

}
